services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./persist/data:/app/data
      - ./persist/media:/app/media
      - ./persist/backups:/app/backups
    restart: unless-stopped
